@import '../../../stylesheets/app.scss';

.my-expertise {
  position: relative;
  width: 100%;
  // min-height: 100;
  height: 100vh;
  background: $white;

  #sliderNavCon {
    position: relative;
    display: block;
    color: $white;
    margin-top: 65px;

    &>div {
      display: inline-block;
      padding: 10px 15px;
      border-radius: 2px;
      opacity: 0.8;
      background: $gold;
      margin-right: 15px;
      cursor: pointer;
      transition: 0.2s linear all;

      &:hover {
        opacity: 1;
      }

      i {
        -webkit-text-stroke: 1px $gold;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .flex-content {
    height: 100%;
    position: relative;
    background: $white;
    background: -moz-linear-gradient(top, #ffffff 0%, #edeaeb 50%, #787779 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #edeaeb 50%, #787779 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #edeaeb 50%, #787779 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#787779', GradientType=0);

    .my-expertise-text {
      background: $lightBlack;
      width: 25%;
      float: left;
      height: 100%;

      .flex-center-vertical {
        height: 100%;
      }

      .section-header-title {
        text-align: left;
        padding-left: 30px;

        h3 {
          color: $lightGray;
          font-size: 22px;
          line-height: 27px;
        }

        h1 {
          color: $white;
          margin-bottom: 45px;
        }

        p {
          padding-right: 15px;
          color: $white;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }

    .logo-slider {
      padding-left: 0px;
      width: 75%;
      float: left;
      height: 100%;
      overflow: hidden;

      #logoBlockSlider {
        position: relative;
        float: left;
        height: 100%;

        &.active {
          transition: 0.2s ease all;
        }

        .logo-block-container {
          // width: 33.33333333%;
          float: left;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {

  .my-expertise .flex-content .my-expertise-text,
  .my-expertise .flex-content .logo-slider {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {

  .my-expertise .flex-content .my-expertise-text,
  .my-expertise .flex-content .logo-slider {
    width: 100%;
  }

  .my-expertise .flex-content .my-expertise-text .section-header-title {
    padding-left: 15px;
    padding-right: 15px;
  }

  .my-expertise .flex-content .my-expertise-text {
    height: auto;
    padding-top: 60px;
  }

  .my-expertise .flex-content .logo-slider {
    height: auto;
    float: none;
  }

  .my-expertise .flex-content {
    background: $white;
  }

  #expertise {
    height: auto;
  }

  .my-expertise .flex-content .logo-slider #logoBlockSlider .logo-block-container {
    height: 300px;
    background: $white;
    background: -moz-linear-gradient(top, #ffffff 0%, #edeaeb 50%, #787779 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #edeaeb 50%, #787779 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #edeaeb 50%, #787779 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#787779', GradientType=0);
  }

  .my-expertise .flex-content .my-expertise-text .section-header-title h1 {
    margin-bottom: 35px;
  }

  .my-expertise .flex-content .my-expertise-text .section-header-title h3 {
    font-size: 20px;
    line-height: 25px;
  }
}