@import '../../../stylesheets/app.scss';

.bullet-navigation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  z-index: 7;

  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0px;
      }

      .bullets {
        &.active {
          background: $gold;
        }

        cursor: pointer;
        border-radius: 50px;
        width: 7px;
        height: 7px;
        background: $white;
        // border: 1px solid $gold;
        transition: ease 0.3s background;

        &:hover {
          background: $gold;
        }
      }
    }
  }
}