@import '../../../stylesheets/app.scss';

.rocket {
  position: fixed;
  bottom: 45px;
  right: 45px;
  color: $red;
  z-index: 0000;
  transform: rotate(-45deg);
  font-size: 30px;
  opacity: 0;
  cursor: none;
  transition: ease 0.3s opacity;

  &.show {
    transition: ease 0.3s opacity;
    z-index: 9999;
    cursor: pointer;
    opacity: 1;
  }
}