@import '../../../stylesheets/app.scss';

.footer {
  position: relative;
  background: $lightBlack;
  padding: 20px 15px;
  width: 100%;

  .copyright {
    color: $white;
    display: flex;
    justify-content: center;

    p {
      margin: 0px;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 1px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer .copyright p {
    width: 160px;
  }
}