@import '../../../stylesheets/app.scss';

.contact {
  position: relative;
  background-image: url('../../../assets/images/shattered.gif');
  background-repeat: repeat;
  padding-bottom: 30px;
  background-attachment: fixed;
  padding-top: 440px;

  .form-field-group {
    position: relative;
    margin-bottom: 10px;

    .form-loader {
      position: absolute;
      display: none;
      background: rgba(255, 255, 255, 0.6);
      height: 100%;
      width: 100%;
      left: 0px;
      top: 0px;
      justify-content: center;
      align-items: center;
      z-index: 1;

      img {
        width: 70px;
      }
    }

    &.sending-form {
      .form-loader {
        display: flex;
      }
    }
  }

  .social-accounts {
    text-align: center;

    ul {
      margin: 0px;
      padding: 0px;
      position: relative;

      li {
        display: inline;
        margin-right: 20px;

        i {
          font-size: 25px;
          color: $white;
          transition: ease 0.3s color;

          &:hover {
            color: $gold;
          }
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  .contact-block {
    position: absolute;
    width: 940px;
    background: $lightBlack;
    padding: 130px;
    margin: 0 auto 120px;
    display: flex;
    flex-flow: row wrap;
    top: -310px;
    left: 50%;
    transform: translateX(-50%);

    &>div.one {
      flex: 1;
      position: relative;
    }

    .flex-row {
      flex-flow: row;

      &>div.one {
        flex: 1;
        padding-right: 5px;

        &:last-child {
          padding-left: 5px;
          padding-right: 0px;
        }
      }
    }

    .form-text {
      h1 {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: $white;
        margin-bottom: 30px;

      }

      p {
        color: $white;
        font-size: 15px;
        line-height: 28px;
        padding-right: 60px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .contact .contact-block {
    width: 768px;
    padding: 60px;
  }

  .form-message {
    top: 0px !important;
    margin-top: 12px !important;
    position: relative !important;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    background-attachment: initial;
  }

  .contact .contact-block {
    width: 100%;
    padding: 45px 15px;
  }

  .contact .contact-block>div.one {
    flex: 100%;
    width: 100%;
  }

  .contact .contact-block>div.one.form-text {
    margin-bottom: 30px;
  }

  .contact {
    padding-top: 0px;
  }

  .contact .contact-block {
    position: relative;
    top: 0px;
  }
}