@import "../../../stylesheets/app.scss";

.contact {
  position: relative;
  display: flex;
  flex-flow: column;

  .container {
    .content {
      max-width: 780px;
      margin-left: auto;
      margin-right: auto;

      .form-fields {
        position: relative;
      }

      .flex-row {
        &>div {
          padding: 0px 5px;

          &:first-child {
            padding-left: 0px;
          }

          &:last-child {
            padding-right: 0px;
          }
        }
      }

      .form-buttons {
        margin-top: 40px;
      }
    }
  }
}