@import '../../../stylesheets/app.scss';

.image-with-text-block {
  position: relative;
  max-width: 480px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 29px;
    color: $gold;
    font-family: $Caveat;
  }

  img {
    margin-bottom: 30px;
  }

  p {
    font-size: 14px;
    line-height: 22px;
    color: $lightBlack;
  }
}