//colors
$gold: #eaaa62;
$white: #ffffff;
$black: #000000;
$lightBlack: #333333;
$gray: #f4f4f4;
$lightGray: #ffffff99;

//fonts
$Montserrat: 'Montserrat',
sans-serif;
$Caveat: 'Caveat',
cursive;
$Muellerhoff: 'Herr Von Muellerhoff',
cursive;