@import '../../../stylesheets/app.scss';

.my-experience {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-top: 130px;
  padding-bottom: 440px;
  background-image: url('../../../assets/images/quote-bg.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.work-timeline {
  position: relative;

  .work-timeline-box {
    position: relative;
    width: 940px;
    margin-left: auto;
    margin-right: auto;

    &.show-work-timeline-box {
      &:before {
        height: 100%;
      }

      .work-timeline-box-content {
        opacity: 1;
      }
    }

    .work-timeline-box-content {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: flex-start;
      position: relative;
      opacity: 0;
      transition: ease 0.3s opacity;

      &>div {
        width: 50%;
        position: relative;
        word-break: break-word;
        padding-right: 60px;
        text-align: right;

        div.year {
          color: $gold;
          font-size: 16px;
          margin-bottom: 10px;
        }

        div.company {
          color: $white;
          font-weight: 700;
          font-size: 24px;
          margin-bottom: 30px;
          line-height: 30px;
        }

        div.title {
          color: $white;
          font-size: 15px;
          font-weight: 500;
        }

        div.job {
          color: $lightGray;
          font-size: 15px;
          line-height: 28px;
        }
      }
    }

    &.right-box {
      .work-timeline-box-content {
        justify-content: flex-end;

        &>div {
          text-align: left;
          padding-left: 60px;
        }
      }
    }

    &:after {
      content: "";
      width: 14px;
      height: 14px;
      background: $gold;
      border-radius: 100px;
      position: absolute;
      left: 50%;
      top: 0px;
      transform: translateX(-50%);
    }

    &:before {
      content: "";
      width: 3px;
      height: 0%;
      background: $gold;
      position: absolute;
      left: 50%;
      top: 0px;
      transform: translateX(-50%);
      transition: ease 0.5s height;
    }

    &:last-child {
      &:before {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .work-timeline .work-timeline-box {
    width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .my-experience{
    background-attachment: initial;
  }
  .work-timeline .work-timeline-box {
    width: 100%;
    padding: 0px 15px;
  }

  .work-timeline .work-timeline-box:before,
  .work-timeline .work-timeline-box:after {

    transform: translateX(0%);
  }

  .work-timeline .work-timeline-box:before {
    top: 2px;
    left: 20.5px;
  }

  .work-timeline .work-timeline-box:after {
    left: 15px;
  }

  .work-timeline .work-timeline-box .work-timeline-box-content>div {
    text-align: left;
  }

  .work-timeline .work-timeline-box.right-box .work-timeline-box-content {
    justify-content: flex-start;
  }

  .work-timeline .work-timeline-box.right-box .work-timeline-box-content>div,
  .work-timeline .work-timeline-box .work-timeline-box-content>div {
    padding-left: 60px;
    width: 100%;
    padding-bottom: 60px;
  }

  .my-experience {
    padding-bottom: 130px;
  }
}